.Tabs {
    position: relative;
    /* Positive value to move right, Negative value to move up*/
    left: 300px;
    top: -20px;

    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    width: 30%;
    height: auto;
    min-height: 400px;
    /*background: #053742;*/
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 1.2rem;
    @media (max-width: 769px) {
        padding: 2rem 0;
    }

}

.FirstTab p,
.SecondTab p {
    font-size: 2rem;
    text-align: center;
}

ul.nav {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
}
  
ul.nav li {
    width: 60%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.nav li:hover {
    background: rgba(228, 171, 58, 0.15);
}

/* Modifies color of open tab of either login or sign up*/
ul.nav li.active {
    /* SET TO GRADIENT SCHEME */
    background: linear-gradient(to left, #8294C4,#FFEAD2);
    color: rgb(20, 25, 118);
}

/* Add Geisel background image */
body {
    min-height: 100vh;
    background: url("./geisel.png") no-repeat;
    background-size: cover;
    background-position: center;
}